@import "variables";
// TvChannelItem
#tv-items-list::-webkit-scrollbar {
  width: 4px;
  background-color: #F2F2F2;
}
#tv-items-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BDBDBD;
}
.tv-items-list {
  height: 54vh;
  overflow-y: scroll;
  div:last-child {
    margin-bottom: 0!important;
  }
}

.tv-channel-item {
  min-height: 162px;
  background-color: #F2F2F2;
  border-radius: 8px;
  padding: 21px 24px 19px 0;
  display: flex;
  margin-right: 10px;
}

.tv-channel-item_img {
  width: 40%;
}

.tv-channel-item_info {
  width: 60%;
  & span {
    color: #000000;
    font-size: 20px;
  }
}
// Header
.header-logo {
  & span {
    margin-left: 11px;
    font-size: 20px;
  }
}
.header-login_button {
  background-color: $red;
  padding: 9px 32px 10px 32px;
  font-size: 16px;
  color: #FFFFFF;
  &:hover {
    background-color: #CC221B;
  }
}
// GenreItem
.genre-item {
  width: 280px;
  height: 208px;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &:hover {
    opacity: 1;
  }
  & img {
    height: 48px;
    width: 48px;
  }
}

// Footer
.footer {
  height: 120px;
  background-color: #F2F2F2;
  padding-top: 22px;
  padding-bottom: 25px;
  margin-top: 72px;
}

.footer-container_info {
  margin-left: 40px;
  p {
    font-size: 16px;
    margin: 0;
  }
  a {
    color: $htc-color;
  }
}
//MovieItem
.movie-slide {
  width: 280px!important;
  margin-right: 20px;
}
.movie-item {
  position: relative;
  width: 280px;
}
.movie-item_wrap {
  background: #000;
  overflow: hidden;
  height: auto;
  border-radius: 8px;
}
.movie-item_img {
  border-radius: 8px;
  cursor: pointer;
  height: 370px;
  transition: opacity 124ms linear, transform 124ms linear;
  display: block;
  &:hover {
    opacity: 0.8;
  }
  p {
    color: $white;
  }
}
//Search
.search {
  outline: none;
  @media (min-width: 992px) {
    width: 320px;
  }
  button {
    color: $red;
    background: none;
    border: none;
    outline: none;
    font-weight: 600;
  }
  input {
    flex-grow: 1;
    margin-left: 10px;
    border: none;
    width: inherit;
    border-bottom: 1px solid #000000;
    &::placeholder {
      color: #828282;
    }
    &:focus {
      outline: none;
    }
  }
}
// AddCommentInput
.add-comment-input {
  padding: 16px;
  background-color: rgba(229, 38, 30, .15);
  outline: none;
  border: none;
  position: relative;
  min-height: 110px;
  resize: none;
  width: 100%;
  border-radius: 8px;
  color: $black;
  &::placeholder {
    color: $red;
  }
}
// CommentItem
.comment-item {
  border-radius: 8px;
  background-color: $light-grey;
  padding: 16px;
  position: relative;
  word-break: break-all;
}
.comment-item_nickname_input {
  border: none;
  background-color: #F2F2F2;
  &:focus {
    background-color: $white;
  }
}


